<launch>

    <arg name="is_sim" default="false"/>

    <rosparam file="$(find armbot_controller)/config/trajectory_controllers.yaml" command="load"/>

    <rosparam file="$(find armbot_controller)/config/joint_state_controller.yaml" command="load"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find armbot_description)/urdf/armbot.urdf.xacro"/>

    <group unless="$(arg is_sim)">
        <node pkg="armbot_controller" type="angles_converter" name="angles_converter" 
            respawn="true" output="screen"/>

        <node name="armbot_interface_node" pkg="armbot_controller" type="armbot_interface_node" 
            ns="/armbot" respawn="true" output="screen"/>
    </group>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
        ns="/armbot" args="joint_state_controller arm_controller gripper_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/armbot/joint_states" />
    </node>

</launch>